body {
    text-align: center;
    background-color: antiquewhite;
}

#button {
    font-size: 1.2rem;
    border-radius: 2em;
    cursor: pointer;
    margin: 2em;
}

#container {
    width: 512px;
    height: 512px;
    border: solid;
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    margin: 4em auto;
}

.content {
    background-color: lightblue;
}

